body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
  }
  
  ul {
    list-style-type:decimal;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
main {
    display: flex  ;
    justify-content: center;
    align-items: center;
}
  